.image-block {
  text-align: center;
  img {
    margin: auto !important;
    display: block;
  }
  .image-caption {
    margin: 10px 0 !important;
    display: inline-block;
    padding: 0 10px;
    color: #999;
    border-bottom: 1px solid #ccc;
    font-size: 14px;
  }
}

code {
  padding: 2px 4px;
  background-color: #f6f6f6;
  vertical-align: middle;
  border: none;
  color: #c7254e;
  font-size: 12px;
  white-space: pre-wrap;
}
